<p>Name: <%= @user.first_name%> </p>
<p>Alias: <%= @user.last_name%> </p>
<p>Email: <%= @user.email%> </p>

<hr>

<p> Total Number of Posts: <%= @user.ideas.length %> </p>
<p> Total Number of Likes: <%= @user.likes.length %> </p>

<a href='/main/dashboard'> Home </a>